.logo {
  width: 150px;
  height: auto;
  max-width: 100%; 
}

.logo-link {
  display: flex;
  align-items: left;
  gap: 0.5rem;
  margin-left: 5rem;
}

.menu {
  padding: 4px;
  background-color: #26292d;
}

.navbar-nav {
  gap: 0.5rem; 
  display: flex;
  margin-left: auto;
  margin-right: 25.5rem; 
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.1rem !important;
  font-weight: 350 !important;
}

.logo-text {
  color: #ffffff;
  font-size: 1.5rem;
}

.ba1 {
  width: 100%;
  height: auto;
  display: block;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55); 
}

.hero-text {
  position: absolute;
  top: 65%;
  right: 5%;
  color: #ffffff;
  z-index: 2;
  text-align: right; 
  max-width: 580px;
}
.titulo-hero {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.subtitulo-hero {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}

.botonTranslucido{
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  border-radius: 7px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.botonTranslucido:hover {
  background-color: white;
  color: #26292d; 
}

.botonVerde {
  background-color: #178754;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.botonVerde:hover {
  background-color: #000000; 
}

.botones-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.oradores-section {
  background-color: #ffffff;
}

.subtitulo-oradores {
  font-size: 0.8rem;
  color: #000000;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: 450;
}

.titulo-oradores {
  font-size: 2.2rem;
  color: #000000;
  font-weight: 500;
}

.card-img-top {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover !important;
  display: block;
}

.badge {
  font-size: 1rem;
  padding: 0.6em 1em;
}

.titulo-bsas {
  font-size: 2rem;
  font-weight: 600;
}

.parrafo-bsas {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.boton-bsas {
  font-size: 0.9rem;
  padding: 0.4rem 0.9rem;
}

.contenido-bsas {
  background-color: #393d43;
  color: white;
}

.botonConocer {
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
}

.botonConocer:hover {
  background-color: white;
  color: #26292d; 
}

.formulario {
  background-color: #ffffff;
}

.subtitulo-formulario {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 450;
  color: #000000;
  margin-bottom: 0;
}

.titulo-formulario {
  font-size: 2.2rem;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.descripcion-formulario {
  font-size: 1rem;
  color: #000000;
  max-width: 700px;
  margin: 0 auto 1rem;
}

.subrayado {
  border-bottom: 1px dashed #000;
}

.botonFormulario {
  background-color: #29a744;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 2.5rem;
  font-weight: 500;
}

.botonFormulario:hover {
  background-color: #000000; 
}

.formulario .descripcion-formulario {
  margin-bottom: 0rem; 
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario textarea.form-control {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-bottom: 0.8rem;
}

.formulario .row.g-4.mb-4 {
  max-width: 1200px;  
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.formulario .row.g-4.mb-4 > .col-md-5 {
  flex: 0 0 400px !important; 
  max-width: 400px !important;
}

.formulario .mb-1.col-md-8 {
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.formulario textarea.form-control {
  max-width: 780px;
  width: 100%; 
  min-height: 150px; 
}

.textoRecordar {
  color: #6c757d;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.formulario .mb-1.col-md-12 {
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
