.logo {
  width: 150px;
  height: auto;
  max-width: 100%; 
}

.logo-link {
  display: flex;
  align-items: left;
  gap: 0.5rem;
  margin-left: 5rem;
}

.menu {
  padding: 4px;
  background-color: #26292d;
}

.navbar-nav {
  gap: 0.5rem; 
  display: flex;
  margin-left: auto;
  margin-right: 25.5rem; 
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.1rem !important;
  font-weight: 350 !important;
}

.logo-text {
  color: #ffffff;
  font-size: 1.5rem;
}

.imagenPrincipal {
  width: 100%;
  height: auto;
  display: block;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45); 
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 60%;
  right: 5%;
  color: #ffffff;
  z-index: 2;
  text-align: right; 
  max-width: 580px;
}
.titulo-hero {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.subtitulo-hero {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}

.btn-custom-transparent {
  background-color: transparent;
  color: white;
  border: 1.5px solid white;
  border-radius: 8px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-custom-transparent:hover {
  background-color: white;
  color: #26292d; 
}

.btn-custom-green {
  background-color: #178754;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-custom-green:hover {
  background-color: #00170d; 
}

.botones-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-top: 0.5rem;
}